<!-- <h4>Welcome to Angular Introduction</h4>
<p>Hello, Nice to meet you</p>  -->
<!-- μήπως βάλω εικόνα, μήπως είναι η αρχική σελίδα, 
 ενδεχομένως και πριν το login, να τσεκάρω -->

<div class="d-flex justify-content-center mt-5">
  <div class="col-md-4 border border-primary rounded rounded-3">
      <div class="text text-center mt-3 mb-5">
          <h4>Library Management App</h4>
            <h5>Sign in</h5>
              <div class="d-flex flex-column mt-3 mb-3">
                    Email
                    <div class="text-center">
                      <input type="email" 
                             class="rounded border-primary w-75 mt-2 mb-3 p-2" 
                             placeholder="type your email">
                    </div>
                     Password
                    <div class="text-center">
                      <input type="password" 
                             class="rounded border-primary w-75 mt-2 mb-3 p-2" 
                             placeholder="type your password">
                    </div>
                    <div class="text text-primary mb-3">
                     Forgot Password?
                    </div>
                    <div class="text-center">
                    <button class="rounded rounded-pill border-primary bg-primary text-light w-75" type="button">Sign Up Here</button>
                    </div>
               </div>
       </div>  
  </div>
</div>
                