<div>
  <h4>Ενημέρωση στοιχείων</h4>

  @if(updateStatus.message !== "Not attempted yet") {
    @if(updateStatus.success){
      <div class="alert alert-success mt-2 w-50">
        {{updateStatus.message}}
      </div>
    } @else {
      <div class="alert alert-danger mt-2 w-50">
        Error: {{updateStatus.message}}
      </div>
    }
   } 

  <form class="d-flex flex-column" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username"
      placeholder="Enter username">
      @if (form.get('username')?.hasError('required') && 
       form.get('username')?.touched) {
    <mat-error>Username is required</mat-error>
  }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email"
      placeholder="Enter email">
       @if (form.get('email')?.hasError('required') && 
       form.get('email')?.touched) {
    <mat-error>Email is required</mat-error>
  }
  @if (form.get('email')?.hasError('email') && 
       form.get('email')?.touched) {
    <mat-error>Please enter a valid email</mat-error>
  }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Firstname</mat-label>
      <input type="text" matInput formControlName="firstname"
      placeholder="Enter firstname">
      <mat-error>Firstname is required and must be between 2-50 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Lastname</mat-label>
      <input type="text" matInput formControlName="lastname"
      placeholder="Enter lastname">
      <mat-error>Lastname is required and must be between 2-50 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>PhoneNumber</mat-label>
      <input type="text" matInput formControlName="phoneNumber"
      placeholder="Enter phonenumber">
      <mat-error>PhoneNumber is required and must be between 10-15 digits</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input type="text" matInput formControlName="address"
      placeholder="Enter address">
      <mat-error>Address is required and must be between 5-200 characters</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="mt-1"
      [disabled]="!form.valid"
      >
      Submit 
    </button>
  </form>

<div class="d-flex justify-content-center mt-3 my-5">
  <button
    mat-raised-button
    color="warn"
    type="button"
    (click)="onCancel()"
    class="px-3"
  >
    <i class="bi bi-x-circle me-2"></i>
    Cancel
  </button>
</div>

</div>
