<div>
  <h4>Ενημέρωση στοιχείων</h4>

  @if(updateStatus.message !== "Not attempted yet") {
    @if(updateStatus.success){
      <div class="alert alert-success mt-2 w-50">
        {{updateStatus.message}}
      </div>
    } @else {
      <div class="alert alert-danger mt-2 w-50">
        Error: {{updateStatus.message}}
      </div>
    }
   } 

  <form class="d-flex flex-column" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Όνομα χρήστη</mat-label>
      <input type="text" matInput formControlName="username"
      placeholder="Εισάγετε όνομα χρήστη
      ">
      @if (form.get('username')?.hasError('required') && 
       form.get('username')?.touched) {
    <mat-error>Το όνομα είναι υποχρεωτικό</mat-error>
  }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email"
      placeholder="Εισάγετε email">
       @if (form.get('email')?.hasError('required') && 
       form.get('email')?.touched) {
    <mat-error>Το email είναι υποχρεωτικό</mat-error>
  }
  @if (form.get('email')?.hasError('email') && 
       form.get('email')?.touched) {
    <mat-error>Εισάγετε ένα έγκυρο email</mat-error>
  }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Όνομα</mat-label>
      <input type="text" matInput formControlName="firstname"
      placeholder="Εισάγετε όνομα">
      <mat-error>Το όνομα είναι υποχρεωτικό και πρέπει να αποτελείται από 2-50 χαρακτήρες</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Επώνυμο</mat-label>
      <input type="text" matInput formControlName="lastname"
      placeholder="Εισάγετε επώνυμο">
      <mat-error>Το επώνυμο είναι υποχρεωτικό και πρέπει να αποτελείται από 2-50 χαρακτήρες</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Τηλέφωνο</mat-label>
      <input type="text" matInput formControlName="phoneNumber"
      placeholder="Εισάγετε τηλέφωνο">
      <mat-error>Το τηλέφωνο είναι υποχρεωτικό και πρέπει να αποτελείται από 10-15 ψηφία</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Διεύθυνση</mat-label>
      <input type="text" matInput formControlName="address"
      placeholder="Εισάγετε διεύθυνση">
      <mat-error>Η διεύθυνση είναι υποχρεωτική και πρέπει να αποτελείται από 5-200 χαρακτήρες</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="mt-1"
      [disabled]="!form.valid"
      >
      Υποβολή
    </button>
  </form>

<div class="d-flex justify-content-center mt-3 my-5">
  <button
    mat-raised-button
    color="warn"
    type="button"
    (click)="onCancel()"
    class="px-3"
  >
    <i class="bi bi-x-circle me-2"></i>
    Επιστροφή
  </button>
</div>

</div>
