<app-navbar></app-navbar>

    <div class="container-fluid mt-3">
      <div class="row">
        <!-- Στήλη μενού -->
        <div class="col-md-3 col-lg-2">
          <div class="list-group">
            @for (entry of menu; track entry) {
              <a
                class="list-group-item list-group-item-action"
                [routerLink]="[entry.link]" 
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: false }"
              >
                {{entry.text}}
              </a>
            }
          </div>
        </div>
        
        <!-- Στήλη περιεχομένου -->
        <div class="col-md-9 col-lg-10">
          <div class="card">
            <div class="card-body pb-5">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer class="mt-auto"></app-footer>

   