<div>
  <h4>Δημιουργία χρήστη</h4>

  @if(registrationStatus.message !== "Not attempted yet") {
    @if(registrationStatus.success){
      <div class="alert alert-success mt-2 w-50">
        {{registrationStatus.message}}
      </div>
    } @else {
      <div class="alert alert-danger mt-2 w-50">
        Error: {{registrationStatus.message}}
      </div>
    }
   } 

  <form class="d-flex flex-column" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Όνομα χρήστη</mat-label>
      <input type="text" matInput formControlName="username"
      placeholder="Εισάγετε όνομα χρήστη">
      @if (form.get('username')?.hasError('required') && 
       form.get('username')?.touched) {
      <mat-error>Το όνομα χρήστη είναι υποχρεωτικό</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email"
      placeholder="Εισάγετε email">
       @if (form.get('email')?.hasError('required') && 
       form.get('email')?.touched) {
      <mat-error>Το email είναι υποχρεωτικό</mat-error>
      }
      @if (form.get('email')?.hasError('email') && 
       form.get('email')?.touched) {
    <mat-error>Εισάγετε ένα έγκυρο email</mat-error>
    } 
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input 
      type="password" 
      matInput 
      formControlName="password"
      placeholder="Εισάγετε password">
      @if (form.get('password')?.touched) {
      @if (form.get('password')?.hasError('required')) {
      <mat-error>Το password είναι υποχρεωτικό και πρέπει να αποτελείται από τουλάχιστον 8 χαρακτήρες (τουλάχιστον ένα ψηφίο, ένα κεφαλαίο γράμμα, ένα πεζό γράμμα και έναν ειδικό χαρακτήρα) </mat-error>
      }
    }
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Επιβεβαίωση Password</mat-label>
      <input type="password" matInput formControlName="confirmPassword"
      placeholder="Εισάγετε επιβεβαίωση password">
      @if(form.get('confirmPassword')?.hasError("passwordMissmatch")){
        <mat-error>Τα passwords δεν ταυτίζονται</mat-error>
      } @else {
        @if (form.get("confirmPassword")?.touched && form.get("confirmPassword")?.invalid){
          <mat-error>Η επιβεβαίωση password λείπει ή δεν είναι έγκυρη</mat-error>
        } 
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Όνομα</mat-label>
      <input type="text" matInput formControlName="firstname"
      placeholder="Εισάγετε όνομα">
      <mat-error>Το όνομα είναι υποχρεωτικό και πρέπει να αποτελείται από 2-50 χαρακτήρες</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Επώνυμο</mat-label>
      <input type="text" matInput formControlName="lastname"
      placeholder="Εισάγετε επώνυμο">
      <mat-error>Το επώνυμο είναι υποχρεωτικό και πρέπει να αποτελείται από 2-50 χαρακτήρες</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Τηλέφωνο</mat-label>
      <input type="text" matInput formControlName="phoneNumber"
      placeholder="Εισάγετε τηλέφωνο">
      <mat-error>Το τηλέφωνο είναι υποχρεωτικό και πρέπει να αποτελείται από 10-15 ψηφία</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Διεύθυνση</mat-label>
      <input type="text" matInput formControlName="address"
      placeholder="Εισάγετε διεύθυνση">
      <mat-error>Η διεύθυνση είναι υποχρεωτική και πρέπει να αποτελείται από 5-200 χαρακτήρες</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ρόλος χρήστη</mat-label>
      <input type="text" matInput formControlName="userRole"
      placeholder="Εισάγετε ρόλο χρήστη">
      <mat-error>Ο ρόλος είναι υποχρεωτικός και οι επιλογές είναι: 0 για αναγνώστη, 1 για διαχειριστή, 2 για βιβλιοθηκάριο</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="mt-3"
      [disabled]="!form.valid"
      >
      Υποβολή 
    </button>
  </form>

    <div class="text-center mt-2">
      <small class="text-muted">
      Έχετε ήδη λογαριασμό; 
      </small>
      <br>
      <a 
      routerLink="/login-user" 
      class="btn btn-outline-secondary btn-sm mt-2 mb-3"
      >
      Επιστροφή στην αρχική
      </a>
    </div>

</div>
